<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioController</servlet-name>
        <servlet-class>com.gobay.controller.InicioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarController</servlet-name>
        <servlet-class>com.gobay.controller.ComprarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoController</servlet-name>
        <servlet-class>com.gobay.controller.CarritoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagarController</servlet-name>
        <servlet-class>com.gobay.controller.PagarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransaccionController</servlet-name>
        <servlet-class>com.gobay.controller.TransaccionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarController</servlet-name>
        <url-pattern>/comprar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoController</servlet-name>
        <url-pattern>/carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagarController</servlet-name>
        <url-pattern>/pagar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransaccionController</servlet-name>
        <url-pattern>/completed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
